# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.env/
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Config files
config.yaml
celeryconfig.py
*.pid

# Backup files
*.sql
*.sql.gz
*.tar.gz
*.dump
*.db
*.rdb

# Environment variable files
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
